# Openbook variable specifying execution environment
# Required always.
# Possible values: production,development,acceptance, test
ENVIRONMENT=development

# Django variable specifying allowed hosts.
# Required in production.
# See https://docs.djangoproject.com/en/2.1/ref/settings/#allowed-hosts
# ALLOWED_HOSTS=openbook.social

# Django variable to provide cryptographic signing.
# Required always.
# See https://docs.djangoproject.com/en/2.1/ref/settings/#secret-key
SECRET_KEY=ChangeMe

# Sentry Data Source Name for error reporting.
# Required in production.
# SENTRY_DSN=https://uuid@sentry.io/4223725

# Absolute filesystem path to the directory that will hold user-uploaded files.
# Defaults to ./media
# See https://docs.djangoproject.com/en/2.1/ref/settings/#media-root
# MEDIA_ROOT=./media

# URL that handles the media served from MEDIA_ROOT, used for managing stored files. It must end in a slash if set
# Defaults to /media/
# See https://docs.djangoproject.com/en/2.1/ref/settings/#media-url
# MEDIA_URL=/media/

# Relational Database Service configuration
RDS_DB_NAME=changeMe
RDS_USERNAME=changeMe
RDS_PASSWORD=changeMe
RDS_HOSTNAME=changeMe
RDS_PORT=changeMe

# AWS Credentials for storage.
# Required in production.
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# AWS_STORAGE_BUCKET_NAME=
# AWS_PUBLIC_MEDIA_LOCATION=
# AWS_PRIVATE_MEDIA_LOCATION=
# AWS_S3_REGION_NAME=
# AWS_SES_REGION = 'eu-west-1'

# Email address used in the from field for service/account emails
SERVICE_EMAIL_ADDRESS = info@open-book.org

