/db.sqlite3
.DS_Store
.idea
*.pyc
/.env
/.old.env
reports
.coverage
coverage.xml
src/
static/
docker-compose.override.yml

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/open-book-api
/supervisord.pid
/supervisord.log
/.docker-cache
/.okuna-cli.json
/.docker-compose.env
