[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
polib = "*"
pytz = "*"

[packages]
Django = "==2.2.16"
python-dotenv = "*"
djangorestframework = "*"
sentry-sdk = "==0.10.2"
mysqlclient = "*"
Pillow = "*"
django-nose = "*"
nose = "*"
pinocchio = "*"
coverage = "*"
nose-exclude = "*"
mixer = "*"
Faker = "*"
boto3 = "*"
django-storages = "==1.8"
django-amazon-ses = "*"
django-media-fixtures = "==0.0.3"
django-modeltranslation = "*"
bandit = "==1.5.1"
PyYAML = ">=4.2b1"
python-magic = "*"
safety = "*"
PyJWT = "*"
django-imagekit = "*"
rest-framework-generic-relations = "*"
onesignal-sdk = "==1.1.0"
django_replicated = "*"
django-cacheops = "*"
django-redis = "*"
django-extensions = "*"
langdetect = "*"
redis = "*"
ffmpy = "*"
django-positions = "*"
django-ordered-model = "*"
webpreview = "*"
beautifulsoup4 = "*"
urlextract = "*"
django-proxy = "*"
tldextract = "*"
django-cursor-pagination = "*"
shutilwhich = "*"
halo = "*"
watchdog = "*"
spectra = "*"
url-normalize = "*"
celery = "*"

[pipenv]
allow_prereleases = false
