[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

django = "*"
python-dotenv = "*"
djangorestframework = "*"
sentry-sdk = "*"
mysqlclient = "*"
pillow = "*"
django-nose = "*"
nose = "*"
pinocchio = "*"
coverage = "*"
nose-exclude = "*"
mixer = "*"
