[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = ">=2.1.6"
python-dotenv = "*"
djangorestframework = "*"
sentry-sdk = "*"
mysqlclient = "*"
pillow = "*"
django-nose = "*"
nose = "*"
pinocchio = "*"
coverage = "*"
nose-exclude = "*"
mixer = "*"
faker = "*"
"boto3" = "*"
django-storages = "*"
django-amazon-ses = "*"
django-media-fixtures = "==0.0.3"
django-modeltranslation = {editable = true,git = "https://github.com/lifenautjoe/django-modeltranslation.git"}
bandit = "*"
pyyaml = ">=4.2b1"
python-magic = "*"
safety = "*"
pyjwt = "*"
django-imagekit = "*"
rest-framework-generic-relations = "*"
onesignal-sdk = "*"
django-replicated = "*"
django-cacheops = "*"
django-redis = "*"
redis-py-cluster = "*"

[pipenv]
allow_prereleases = true
