appdirs==1.4.3
argh==0.26.2
bandit==1.5.1
bcrypt==3.1.7
beautifulsoup4==4.8.1
blessings==1.7
boto3==1.10.29
botocore==1.13.29
cached-property==1.5.1
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
colorama==0.4.1
colorlog==4.0.2
colormath==3.0.0
coverage==5.0b1
croniter==0.3.30
cryptography==2.8
cursor==1.3.4
decorator==4.4.1
Django==2.2.5
django-amazon-ses==2.1.1
django-appconf==1.0.3
django-cacheops==4.2
django-cursor-pagination==0.1.4
django-extensions==2.2.5
django-imagekit==4.0.2
django-media-fixtures==0.0.3
django-model-utils==3.2.0
django-modeltranslation==0.12.1
django-nose==1.4.6
django-ordered-model==3.3.0
django-positions==0.6.0
django-proxy==1.2.1
django-redis==4.10.0
django-replicated==2.6.1
django-rq==2.1.0
django-rq-scheduler==1.1.3
django-storages==1.8
djangorestframework==3.10.3
docker==3.7.3
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.15.2
dparse==0.4.1
Faker==0.9.1
ffmpy==0.2.2
funcy==1.14
gitdb2==2.0.6
GitPython==3.0.5
halo==0.0.28
idna==2.8
jmespath==0.9.4
jsonschema==2.6.0
langdetect==1.0.7
log-symbols==0.0.14
mixer==6.1.3
mysqlclient==1.4.6
networkx==2.4
nose==1.3.7
nose-exclude==0.5.0
numpy==1.17.4
onesignal-sdk==1.1.0
packaging==19.2
paramiko==2.6.0
pathtools==0.1.2
pbr==5.4.4
pilkit==2.0
Pillow==6.2.1
pinocchio==0.4.2
pycparser==2.19
PyJWT==1.7.1
PyNaCl==1.3.0
pyparsing==2.4.5
python-dateutil==2.8.0
python-dotenv==0.10.3
python-editor==1.0.4
python-magic==0.4.15
pytz==2019.3
PyYAML==5.2b1
readchar==2.0.1
redis==3.3.11
requests==2.22.0
requests-file==1.4.3
rest-framework-generic-relations==1.2.1
rq==1.1.0
rq-scheduler==0.9.1
s3transfer==0.2.1
safety==1.8.5
sentry-sdk==0.10.2
shutilwhich==1.1.0
six==1.13.0
smmap2==2.0.5
soupsieve==1.9.5
spectra==0.0.11
spinners==0.0.23
sqlparse==0.3.0
stevedore==1.31.0
termcolor==1.1.0
text-unidecode==1.2
texttable==0.9.1
tldextract==2.2.2
uritools==2.2.0
urlextract==0.14.0
urllib3==1.25.7
watchdog==0.9.0
webpreview==1.6.0
websocket-client==0.56.0
