{% load static %}
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f4f4f4">
    <tr>
        <td valign="top" align="center" class="p30-15" style="padding: 50px 0px 50px 0px;">
            <table width="650" border="0" cellspacing="0" cellpadding="0" class="mobile-shell">
                <tr>
                    <td class="td" style="width:650px; min-width:650px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="center" style="padding-bottom: 30px;">
                                    <table border="0" cellspacing="0" cellpadding="0" style="opacity: 0.3">
                                        <tr>
                                            <td class="img" width="55" style="font-size:0pt; line-height:0pt; text-align:center;"><a href="https://twitter.com/OkunaSocial" target="_blank"><img src="https://www.okuna.io/email/twitter-logo.png" height="20" border="0" alt="Twitter" /></a></td>
                                            <td class="img" width="55" style="font-size:0pt; line-height:0pt; text-align:center;"><a href="https://okuna.slack.com/join/shared_invite/enQtNDI2NjI3MDM0MzA2LTYwM2E1Y2NhYWRmNTMzZjFhYWZlYmM2YTQ0MWEwYjYyMzcxMGI0MTFhNTIwYjU2ZDI1YjllYzlhOWZjZDc4ZWY" target="_blank"><img src="https://www.openbook.social/email/slack-icon-black.png" height="20" border="0" alt="Join us on Slack" /></a></td>
                                            <td class="img" width="55" style="font-size:0pt; line-height:0pt; text-align:center;"><a href="https://www.linkedin.com/company/okuna/" target="_blank"><img src="https://www.okuna.io/email/linkedin-logo.png" height="20" border="0" alt="LinkedIn" /></a></td>
                                            <td class="img" width="55" style="font-size:0pt; line-height:0pt; text-align:center;"><a href="https://www.okuna.io/" target="_blank"><img src="https://www.okuna.io/email/internet-logo.png" height="20" border="0" alt="Website" /></a></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-footer1 pb10" style="color:#999999; font-family:'Nunito Sans', Arial,sans-serif; font-size:14px; line-height:20px; text-align:center; padding-bottom:10px;">Made with <img src="https://www.okuna.io/email/heart.png" style="vertical-align: middle; padding: 0 5px;" height="15" border="0" alt="love" /> in Europe</td>
                            </tr>
                            <tr>
                                <td class="text-footer2 pb20" style="color:#999999; font-family:'Nunito Sans', Arial,sans-serif; font-size:14px; line-height:20px; text-align:center; padding-bottom:20px;">The Hague Tech, Juliana van Stolberglaan 10, 2595 CL The Hague
                                </td>
                            </tr>
                            <tr>
                                <td class="text-footer2" style="color:#999999; font-family:'Nunito Sans', Arial,sans-serif; font-size:12px; line-height:26px; text-align:center;"> You're receiving this email because you supported Okuna on Kickstarter or Indiegogo. </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>