{% load static %}

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center" class="p30-15" style="padding: 30px;">
            <table width="650" border="0" cellspacing="0" cellpadding="0" class="mobile-shell">
                <tr>
                    <td class="td" style="width:650px; min-width:650px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th class="column" width="145" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td class="img m-center" style="font-size:0pt; line-height:0pt; text-align:left;"><img src="{% static 'openbook_common/new-ob-logo.png' %}" height="50" border="0" alt="Openbook Logo" /></td>
                                        </tr>
                                    </table>
                                </th>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>