files:
  "/etc/httpd/conf.d/cors.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      <Location "/">
        RewriteCond %{HTTP:Magic} !^(123|456|123)$
        RewriteCond %{REQUEST_URI} !^/health/
        RewriteRule ^$ https://www.openbook.social [R=302]

        Header set Access-Constrol-Allow-Origin: https://www.openbook.social
        Header set Access-Control-Allow-Methods: "POST, GET, PUT, DELETE, OPTIONS"
        Header add Access-Control-Allow-Headers: "Authorization, Content-Type, Accept"
        Header set Access-Control-Allow-Credentials: true
      </Location>