files:
  "/etc/httpd/conf.d/cors.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      <Location "/">
        Header always set Access-Control-Allow-Origin: https://www.okuna.io
        Header always set Access-Control-Allow-Methods: "POST, GET, PUT, DELETE, OPTIONS, PATCH"
        Header always add Access-Control-Allow-Headers: "*"
        Header always set Access-Control-Allow-Credentials: true
        RewriteEngine On
        RewriteCond %{REQUEST_METHOD} OPTIONS
        RewriteRule ^(.*)$ $1 [R=200,L]
      </Location>
