container_commands:
  01_migrate_database:
    command: 'source /opt/python/run/venv/bin/activate && python /opt/python/current/app/manage.py migrate --noinput'
  02_collect_static:
    command: 'source /opt/python/current/env && source /opt/python/run/venv/bin/activate && cd /opt/python/current/app/ && python manage.py collectstatic --noinput'
  03_collect_media:
    command: 'source /opt/python/current/env && source /opt/python/run/venv/bin/activate && cd /opt/python/current/app/ && python manage.py collectmedia --noinput'