files:
    "/opt/python/etc/supervisord.conf" :
        mode: "000644"
        owner: root
        group: root
        content: |
            [unix_http_server]
            file=/opt/python/run/supervisor.sock   ; (the path to the socket file)
            ;chmod=0700                 ; socket file mode (default 0700)
            ;chown=nobody:nogroup       ; socket file uid:gid owner
            
            [supervisord]
            logfile=/opt/python/log/supervisord.log ; (main log file;default $CWD/supervisord.log)
            logfile_maxbytes=10MB        ; (max main logfile bytes b4 rotation;default 50MB)
            logfile_backups=10           ; (num of main logfile rotation backups;default 10)
            loglevel=info                ; (log level;default info; others: debug,warn,trace)
            pidfile=/opt/python/run/supervisord.pid ; (supervisord pidfile;default supervisord.pid)
            minfds=1024                  ; (min. avail startup file descriptors;default 1024)
            minprocs=200                 ; (min. avail process descriptors;default 200)
            directory=/opt/python/current/app    ; (default is not to cd during start)
            ;nocleanup=true              ; (don not clean up tempfiles at start;default false)
            
            [rpcinterface:supervisor]
            supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface
            
            [supervisorctl]
            serverurl=unix:///opt/python/run/supervisor.sock
            
            [program:httpd]
            command=/opt/python/bin/httpdlaunch
            stdout_logfile=/opt/python/log/django_stdout.log
            stderr_logfile=/opt/python/log/django_stderr.log
            numprocs=1
            directory=/opt/python/current/app
            autostart=true
            autorestart=unexpected
            startsecs=1                   ; number of secs prog must stay running (def. 1)
            startretries=3                ; max # of serial start failures (default 3)
            exitcodes=0,2                 ; 'expected' exit codes for process (default 0,2)
            killasgroup=false             ; SIGKILL the UNIX process group (def false)
            redirect_stderr=false
            
            
            [program:rqworkerdefault]
            command=/bin/bash -c 'source /opt/python/current/env && source /opt/python/run/venv/bin/activate && python manage.py rqworker default'
            stdout_logfile=/opt/python/log/rqworkerdefault_stdout.log
            stderr_logfile=/opt/python/log/rqworkerdefault_stderr.log
            pidfile=/opt/python/run/rqworker_default
            pidfile=/opt/python/run/rqworker_default
            loglevel=info                ; (log level;default info; others: debug,warn,trace)
            numprocs=1
            user=nobody
            group=nobody
            directory=/opt/python/current/app
            autostart=true
            autorestart=unexpected
            startsecs=1                   ; number of secs prog must stay running (def. 1)
            startretries=3                ; max # of serial start failures (default 3)
            exitcodes=0,2                 ; 'expected' exit codes for process (default 0,2)
            killasgroup=true              ; SIGKILL the UNIX process group (def false)
            stopasgroup=true
            stopsignal=QUIT
            redirect_stderr=false
            
            [program:rqworkerhigh]
            command=/bin/bash -c 'source /opt/python/current/env && source /opt/python/run/venv/bin/activate && python manage.py rqworker high'
            stdout_logfile=/opt/python/log/rqworkerhigh_stdout.log
            stderr_logfile=/opt/python/log/rqworkerhigh_stderr.log
            pidfile=/opt/python/run/rqworker_high
            loglevel=info                ; (log level;default info; others: debug,warn,trace)
            user=nobody
            group=nobody
            numprocs=1
            directory=/opt/python/current/app
            autostart=true
            autorestart=unexpected
            startsecs=2                   ; number of secs prog must stay running (def. 1)
            startretries=3                ; max # of serial start failures (default 3)
            exitcodes=0,2                 ; 'expected' exit codes for process (default 0,2)
            killasgroup=true              ; SIGKILL the UNIX process group (def false)
            stopasgroup=true
            stopsignal=QUIT
            redirect_stderr=false
            
            [program:rqworkerlow]
            command=/bin/bash -c 'source /opt/python/current/env && source /opt/python/run/venv/bin/activate && python manage.py rqworker low'
            stdout_logfile=/opt/python/log/rqworkerlow_stdout.log
            stderr_logfile=/opt/python/log/rqworkerlow_stderr.log
            pidfile=/opt/python/run/rqworker_low
            loglevel=info                ; (log level;default info; others: debug,warn,trace)
            user=nobody
            group=nobody
            numprocs=1
            directory=/opt/python/current/app
            autostart=true
            autorestart=unexpected
            startsecs=1                   ; number of secs prog must stay running (def. 1)
            startretries=3                ; max # of serial start failures (default 3)
            exitcodes=0,2                 ; 'expected' exit codes for process (default 0,2)
            killasgroup=true              ; SIGKILL the UNIX process group (def false)
            stopasgroup=true
            stopsignal=QUIT
            redirect_stderr=false
